@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
  .projects {
    top: 2em;
  }
  .project-image {
    width: 17em;
  }
  .project-button {
    padding: 5px 10px;
  }
  .project-footer {
    padding: 7px 13px;
  }
}

@include media-breakpoint-up(md) {
  .projects {
    top: 10em;
    margin: 10px 10%;
  }
  .project-image {
    height: 51vh;
  }

  .project-wrapper {
    min-width: 34%;
  }
  .project-button {
    padding: 8px 15px;
  }
  .project-footer {
    padding: 10px 30px;
  }
}


.project-wrapper {
  min-width: 34%;
  width: auto;
  margin-bottom: 3%;

  .project-image {
    border-radius: 13px;
    border: solid 8px #363538;
  }

  .project-footer {
    display: flex;
    justify-content: space-between;

    .project-name {
      color: white;
      font-size: 27px;
    }

    .project-button {
      background-color: transparent;
      color: white;
      border-radius: 13px;
      font-size: 13px;
      border: solid 1px white;
      cursor: pointer;
      outline:none;
      .button-arrow {
        margin-left: 6px;
      }
    }
  }
}

.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}