@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
  .skills {
    max-width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
  }

  .skill-wrapper {
    margin-bottom: 1em;
  }
}

@include media-breakpoint-up(md) {
  .skills {
    max-width: 45%;
    margin-left: 28%;
    justify-content: space-between;
  }
}


.skills {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}