.curved-arrow {
  position: absolute;
  top: 11%;
  right: 16%;
  fill: #ffffff
}

.profile-picture {
  position: absolute;
  top: 130px;
  left: calc(50% - 95px);
  width: 189px;
  height: 189px;

  border-radius: 50%;
}
.homepage-middle-text {
  margin-top: 310px
}
.homepage-title {
  font-family: Roboto;
  font-size: 120px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  //margin-top: 350px;
  color: white;
  margin-bottom: 0;
}

.homepage-summary {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: white;
  max-width: 70%;
  margin-left: 15%;
  margin-top: -13px;
}

.projects-link {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.next-page {
  position: relative;
  width: 100%;
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.homepage-footer {
  position: relative;
  top: 250px;

  .footer-text {
    font-family: Roboto;
    font-size: 120px;
    color: white;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }

  .footer-top-text {
    margin-left: calc(50% - 298px);
  }
  .footer-bottom-text {
    margin-left: calc(50% - 40px);
  }

  .footer-contact {
  margin-left: calc(50% - 108px);
    .phone{
      margin-right: 40px;
    }
  }
}

.hp-background-wave {
  position: absolute;
  top: 85%;
  width: 100%;
  object-fit: contain;
  opacity: 0.97;
}

.hp-background-image {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}