@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {

  .hp-background-wave {
    top: 37em;
  }

  .curved-arrow {
    position: absolute;
    margin-left: calc(83% - 56px);
    top: 3%;
    width: 10%;
  }

  .profile-picture {
    width: 6em;
    height: 6em;
    top: 11%;
  }

  .profile-picture-wrapper {
    margin-top: 5em;
  }

  .homepage-middle-text {

  }

  .homepage-title {
    font-size: 74px;
    margin-top: 0;
  }

  .homepage-summary {
    font-size: 18px;
    max-width: 98%;
    margin-left: 1%;
    margin-top: 0;

    .text-break {
      display: none;
    }
  }

  .next-page {
    margin-top: 2em;
  }

  .homepage-footer {
    top: 5em;
  }

  .footer-text {
    font-size: 3em;
  }

  .footer-top-text {
    margin-left: 0.5em;;
  }
  .footer-bottom-text {
    position: absolute;
    right: 0.5em;
  }

  .footer-contact {
    margin-top: 15%;
    margin-left: calc(50% - 70px);

    .phone{
      margin-right: 65px;
    }

    .phone-img, .mail-img {
      height: 55px;
    }
  }
  }

@include media-breakpoint-up(md) {

  .hp-background-wave {
    top: 50em;
  }

  .curved-arrow {
    position: absolute;
    top: 6em;
    right: 19%;
    width: 15%;
    margin-left: calc(80% - 130px);
  }

  .profile-picture {
    width: 12em;
    height: 12em;
    top: 18%;
    left: calc(50% - 95px);
  }

  .profile-picture-wrapper {
    margin-top: 8em;
    margin-bottom: 3em;
  }

  .homepage-middle-text {

    .homepage-title {
      font-size: 120px;
      margin-top: -0.4em;
    }

    .homepage-summary {
      font-size: 30px;
      max-width: 70%;
      margin-left: 15%;
    }
  }

  .next-page {
    margin-top: 5em;
  }

  .homepage-footer {
    top: 12em;
  }
  .footer-text {
    font-size: 7.5em;
  }

  .footer-top-text {
    margin-left: calc(50% - 298px);
  }
  .footer-bottom-text {
    margin-left: calc(50% - 40px);
  }

  .footer-contact {
    margin-left: calc(50% - 138px);
    margin-top: 55px;

    .phone{
      margin-right: 100px;
    }

  }

}

.curved-arrow {
  fill: #ffffff
}

.profile-picture {
  border-radius: 50%;
}

.profile-picture-wrapper {
  position: relative;
}

.homepage-title {
  font-family: Roboto;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  //margin-top: 350px;
  color: white;
  margin-bottom: 0;
}

.homepage-summary {
  font-family: Roboto;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.projects-link {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.5em;
}

.next-page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.homepage-footer {
  //position: relative;

  .footer-text {
    font-family: Roboto;
    color: white;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }

  .footer-contact {
    position: absolute;
  }
}

.hp-background-wave {
  position: absolute;
  width: 100%;
  object-fit: contain;
  opacity: 0.97;
}

.hp-background-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.profile-picture-wrapper {
  text-align: center;
  position: relative;
}

//.profile-picture {
//  display: none;
//}